.quienesSomos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .quienesSomosDesc{
        width: 50%;
        font-size: 25px;
        flex-direction: column;
        margin:100px;
    }
}
