@import "selectorUniversal";
@import "header";
@import "main";
@import "footer";
@import "gridYMedia";
@import "variables";
@import "mixin";
@import "tarjetas";
@import "home";
@import "productos";
@import "quienesSomos";
@import "hotsale";
@import "redesSociales";
@import "contactanos";
@import "btn";






h6{color:$colorH6;}
h1 {font-family: 'Caveat', cursive;
}

.divBtn {
    
    align-items: center;
    justify-content: center;
    align-content: center;
}